* {
  box-sizing: border-box;
  margin: 5px;
}

header {
  min-width: 100%;
  min-height: 200px;
  padding: 10px 35px;
}
header .nav-arriba {
  height: 50px;
  color: black;
  display: flex;
  justify-content: flex-end;
}
header .nav-arriba a {
  font-size: larger;
  text-decoration: none;
  color: black;
}
header .nav-arriba a:hover {
  border-bottom: 1px solid black;
  opacity: 0.8;
}


.puntitos{
  margin-left: 7px;
  margin-bottom: 20px;
}

.sign{
  background-color: rgb(48, 48, 250);
  align-items: center;
  border: 0;
  width: 80px;
  height: 30px;
}

.google {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.google .google-logo img {
  width: 272px;
  height: 92px;
}
.google form {
  width: 929px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.google form .busqueda {
  display: flex;
  width: 550px;
  margin: 0px auto;
  border: 1px solid gray;
  border-radius: 25px;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.google form .barrabusqueda {
  width: 500px;
  margin: 7px 20px;
  font-size: 18px;
  border: none;
}

.google form img {
  height: 25px;
  width: 15px;
  margin-left: 15px;
}
.google form .boton {
  margin: 20px;
  width: 500px;
  height: 30px;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  
}
.google form .boton input {
  width: 30%;
  padding: 8px;
  border: none;
  font-size: initial;
  background-color: rgb(201, 193, 193);
}
.google form .boton input:hover {
  opacity: 0.7;
  cursor: pointer;
}

.CajaAbajo {
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  background-color: #e2e2e2;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.CajaAbajo .CajaIzquierda,
.CajaAbajo .CajaDerecha {
  display: flex;
  align-items: center;
  padding: 5px;
}
.CajaAbajo .CajaIzquierda a,
.CajaAbajo .CajaDerecha a {
  padding: 5px;
  font-size: large;
  color: #756f6f;
  text-decoration: none;
}
.CajaAbajo .CajaIzquierda a:hover,
.CajaAbajo .CajaDerecha a:hover {
  border-bottom: 1px solid #756f6f;
  opacity: 0.6;
}
